body{
  margin:0px;
  height: auto;
  font-family: 'Poppins', sans-serif;
  font-family: 'Bebas Neue', sans-serif;
  background-color: #272727;
}


#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 40px;
  height: 40px;
  margin: -60px;
  border: 6px solid #E1BBFF;
  border-radius:100px;
  border-top: 6px solid #FF28B6;
  animation: spin 500ms linear infinite;
}

.loadtext{
  position: absolute;
  align-items: center;
}

@keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg);}
}



.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 500ms;
  animation-name: animatebottom;
  animation-duration: 500ms;
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ left:-100px; opacity:0}
  to{ left:0; opacity:1 }
}

#myDiv {
  display: none;
}

.hidden{
  opacity:0;
  transition: all 2s;
  filter: blur(10px);
  transform: translateY(100px);
}

.show{
  opacity:1;
  filter: blur(0px);
  transform: translateY(0);
}

.portfoliocard1:nth-child(1){
  transition-delay: 200ms;
}

.alien{
  margin-top: 30px;
}


.contain{
  height: 100vh;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: 'poppins',sans-serif;
}

.testimonial{
  position: relative;
  max-width: 950px;
  width: 100%;
  text-align: center;
  padding: 50px 0;
  background-color: #3d3d3d;
}

.testimonial .slide{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

}

.testimonial .image{
  height: 170px;
  width: 170px;
  object-fit: cover;
  border-radius: 50%;
}

.slide p{
padding: 0 160px;
font-size: 12px;
}

.quote-icon{
width: 40px;
height: auto;
}

.personimage{
  width: 100px;
  height: auto;
}

.feedperson{
  color:White;
  font-weight: bold;
}

.feeddesign{
  color:White;
}

/* .dot{
  position:fixed;
  left:150px;
  opacity: 20%;
  z-index: -1;
} */

.logodiv{
  display: inline-block;
  padding-left: 15px;
}
.logo{
  width:60px;
}



#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 200;
  background-color: black;
  cursor: pointer;
  padding:10px 12px;
  border-radius: 40px;
  border:2px solid black;
  animation-name: fadetop;
  animation-duration: 2s;
  /* box-shadow: 0px 5px 3px #ff7ab1; */
}

@keyframes fadetop {
  0% {opacity: 0;}
  100% {opacity :1;}
}


#myBtn:hover {
  background-color: #ff7ab1;
}

#myBtn img {
  width:30px;
  height:30px;
  border-radius:30px;
}



/* Menu link */

.sidebar {
  margin-top: 0;
  padding-top: 80px;
  width: 15%;
  padding-left: 20px;
  position: fixed;
  height: 100%;
  animation-name: sidebar_d;
  animation-duration: 1s;
  overflow: auto;
}

@keyframes sidebar_d {
  0%  {left:-200px;}
  100% {left:0px;}
}

.badge {
  background-color: red;
  font-family: 'poppins',sans-serif;
  color: white;
  padding: 4px 6px;
  font-size: 8px;
  position: relative;
  font-weight: bold;
  bottom:5px;
  margin-left: 3px;
  text-align: center;
  border-radius: 2px;
  letter-spacing: 0px;
}

.sidebar a {
  display: block;
  color: white;
  padding:16px;
  text-decoration: none;
  text-align: left;
  font-size: 16px;
  letter-spacing: 2px;
}

.sidebar a.active {
  color: #ff7ab1;
  background-color:#2d2d2d;

  font-weight: bold;
}

.sidebar a:hover:not(.active) {
  color: #ff7ab1;
  opacity:50%;
}



a:link{
  text-decoration: none;
  color:white;
}

a:hover{
  text-decoration: none;
  color: #ff7ab1;
}

a:visited{
  text-decoration: none;
  color:white;
}

a:active{
  text-decoration: none;
  color:#ff7ab1;
}

.menucollapsed
{
  text-decoration: none;
  position: fixed;
  display: inline-block;
  width: 200px;
  height: auto;
  font-size: 24px;
  padding: 130px 80px 130px 80px;
  overflow: auto;
  background-color:white;
  font-family: 'Philosopher', sans-serif;
  clip: rect(0px,60px,200px,0px);
}

.backtoprofile{
  fl}

  .backtoprofile a{
  }


  /* Workspace edits */

  .workspace {
    width:82%;
    height:auto;
    position:relative;
    float: right;
    animation-name: workspace;
    animation-duration: 2s;
    text-align: left;
  }


  .profile{
    display: inline;
  }

  .profileimage{
    width:150px;
    height: auto;
    display: inline-block;
  }

  .experience-description{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    width:auto;
    width:50%;
    display: inline-block;
    margin: 0 0 0 10px;
    text-align: left;
    color:#ffffff;
  }

  @keyframes workspace{
    0% {bottom:-1000px;}
    100% {bottom:0px;}
  }

  .heading-home{
    width: 100%;
    /* padding:200px 0 200px 0; */
    position: relative;
    display: inline-block;
  }

  .vl {
    border-left: 3px solid black;
    height:140px;
    width:5px;
    position: absolute;
    opacity: 0%;
  }

  .hl {
    width:92%;
    height:2px;
    background: black;
    opacity: 10%;
    height: 2px;
  }

  .name-head{
    width: auto;
    position: relative;
    margin-top:0px;
    left: 0;
    bottom:10px;

  }

  .heading-name {
    width:auto;
    font-size: 24px;
    line-height: 30px;
    position: relative;
    color:#ffffff;
  }

  #intro{
    margin-top:60px;
    height: auto;
    padding:10px;

  }

  .surya{
    margin:20px 20px;
    animation: 2s anim-lineUp ease-out infinite;
    animation-delay: 1s;
    font-weight:bold;
    font-size:24px;
    color:#af77ff;
    margin:30px 0 0px 0;
  }

  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(0%);
    }

    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }


  .designer{
    width:auto;
    animation: 2s anim-lineUp ease-out infinite;
    animation-delay: 1s;
    font-size: 24px;
    line-height: 30px;
    position: relative;
    margin:10px 0;
    color:#ffffff;
  }

  /* About */

  .experience{
    color: #af77ff;
    margin:10px 0 0 0;
  }

  .experience-date{
    color:#ffffff;
    font-family: 'Poppins', sans-serif;
    margin-bottom:0px;
  }

  .experience-history{
    font-size: 24px;
    width: auto;
text-align: center;   color:#ff7ab1;
  }


  .experiences-description{
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    padding:0px 0px 0px 0px;
    line-height: 20px;
    width:90%;
    margin:10px 0;
    text-align: left;
    color:#ffffff;
  }

  .experience-list {
    padding:20px;
    border-radius: 10px;
    margin:10px 10px 10px 0;
    width: 25%;
    height:auto;
    background-color: #303030;
    display: inline-grid;
  }

  .experience-designation{
    margin:0px;
  }
  .education-list{
    margin-top:30px;
  }




  /* Portfolio */

  #portfolioredirect
  {
    position: relative;
    margin:10px 0;
    display: inline;
  }

  #portfolioredirect:hover
  {
    position: relative;
    left:5px;
  }


  .portfolio-history{
    position: relative;
    display: inline-block;
    font-size: 24px;
    margin:0;
    color:#ff7ab1;
  }

  #imgclick{
    position: relative;
    width:24px;
    height:24px;
    top:4px;
  }


  .button-interaction{
    position:relative;
    padding:10px 20px;
    background-color: #ff7ab1;
    border:none;
    border-radius: 5px;
    color:white;
    stroke:none;
    font-weight: bold;
    cursor:pointer;
    text-align: center;
  }

  .image{
    width:300px;
    margin-bottom:0;
    height:auto;
    border-radius:0;
  }

  .image:hover{
    transform: scale(95%);
    transition: 1s;
    z-index: -1;
  }


  .bannerimages{
    width:80%;
    padding-bottom:20px;
    height: auto;
  }

  .portfolio-hl{
    border-left: 250px solid black;
    opacity: 10%;
    height: 1px;
  }


  .portfoliocards{
    margin:10px auto 0 auto;
  }

  .portfoliocard1{
    width:300px;
    height:auto;
    padding-bottom: 10px;
    display: inline-block;
    border-radius: 10px;
    margin:10px 10px;
    position: relative;
    overflow:hidden;
    box-shadow: 0px 0px 1px black;
  }


  .portfoliocard1:hover{
    background-color: #4F4F4F;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.2s;
    overflow:hidden;
    box-shadow: 0px 0px 30px black;

  }


  .portfolio-text{
    font-size: 12px;
    margin:10px 0;
    line-height: 30px;
    text-align: center;
    display: none;
    /* font-weight: bold; */
    font-family: 'Poppins', sans-serif;


  }

  .portfolio-description {
    font-size: 16px;
    line-height: 24px;
    text-align:left;
  }

  .portfoliodesigns {
    font-size:28px;
    font-weight:bold;
    color:#5D3891;
  }

  ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  margin: 0 auto 0 auto;
  width: 100%;
  background-color:#272727;
}

ul.breadcrumb li {
  display: inline;
  font-size: 16px;
  color:white;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: white;
  content: "/";
}
ul.breadcrumb li a {
  color: #F74EC9;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color:white ;
  text-decoration: underline;
}


  /* Contact */

  .contact{
    /* margin:10px 0 10px 0; */
  }

  .contact-list{
    padding:15px 0 15px 0;
    display:inline-block;
  }

  .contactimage{
    width:24px;
    height:24px;
  }

  .contacttext{
    position: relative;
  }

  .contact-listview{
    float: left;
    margin: 0 10px 0 10px;
  }

  /* location */
  .location1{
    margin:-20px 0 10px 0;
    line-height: 30px;
  }

  .location-list{
    line-height: 20PX;
  }




  /* Overall Mark */
  .overall{

  }

  .iconlist{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    width:80%;
    margin:20px 0 0 0;
  }

  .iconlist1{
    margin:0px 10px 0 0;
    display: inline-block;
  }

  .icon{
    width:50px;
    height:50px;
  }

  .ratingtext{
    display: inline-block;
    margin:5px;
    font-size: 14px;
    position: relative;
    bottom:20px;
    color:#ffffff;
  }

  .overall-numbers{
    display: inline-block;
    margin: 30px auto 0px;

  }

  .numbers-list1{
    height:auto;
    padding:5px 20px;
    width: 190px;
    text-align: center;
    float: left;
    position: relative;
    margin:20px 0px 20px 0;
    /* border: 1px solid #f6f6f6; */
    background-color:#58287F;
    border-radius: 0px;
  }

  .numbers-list1:nth-child(odd) {

  }


  .list1{
    font-size: 24px;
    font-family: 'poppins',sans-serif;
    font-weight: bold;
    margin:20px 0 10px 0;
    letter-spacing: 0px;
    color:#ff7ab1;
  }

  .list1-description{
    color:white;
    letter-spacing: 3px;

  }

  /* skills */

  /* table */
  table {
    margin:20px 0;
    position: relative;
    font-family: 'Poppins', sans-serif;
    border-collapse: collapse;
    width: 88%;
    color:white;
    font-size: 14px;
  }

  th{
    background-color: #2d2d2d;

  }

  th, td {
    text-align: center;
    padding: 8px;
    width: 200px;
  }

  tr:nth-child(odd) {
  }

  .table-icon{
    width:auto;
    height:36px;
  }


  .hl1 {
    border-left: 150px solid black;
    opacity: 100%;
    height: 2px;
  }

  .hl2 {
    border-left: 100px solid black;
    opacity: 100%;
    height: 2px;
  }

  .hl3 {
    border-left: 80px solid black;
    opacity: 100%;
    height: 2px;
  }

  .skills-numbers{
    display: inline-block;
    margin:0px;

  }

  .skills-list1{
    height:auto;
    padding:20px 20px 20px 20px;
    width: 190px;
    display: inline-block;
    text-align: left;
    float: left;
    position: relative;
    margin:20px 10px 0px;
    border: 1px solid #f6f6f6;
    line-height: auto;
    /* background-color: #0000; */
    border-radius: 10px;

  }

  .skillslist1{
    font-size: 16px;
    font-weight: bold;
    margin-top:20px;
    font-family: 'Poppins', sans-serif;
    color:#ffffff;
  }

  .skillslist1-description{
    margin:0px 0 0px 0;
    position: absolute;
    top:20px;
    right:20px;
    font-size: 24px;
    color:#ffffff;
  }

  .skill-subhead{
    font-size:18px;
    margin-bottom:10px;
  }


  /* portfoliodisplay
  */

  .UX-banner{
    width:100%;
    height:auto;
  }

  .copyright{
    margin:20px auto 10px auto;
    font-size:10px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color:white;
  }

  .iconpack{
    text-align: left;
  }

  .iconcategory{
    width:100px;
    height: 100px;
    padding:20px;
    margin-right: 20px;
    border-radius: 100px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background-color: black;
  }

  .iconcategory:hover{
    transform: rotateY(180deg);
  }

  .iconimages{
    height: 120px;
  }

  /* portfolio section Motoori*/
  .sectionport{
    width:100%;
    height:auto;
    margin:20px 0;
    font-family: 'Satoshi', sans-serif;
  }

  .containerport{
    padding:20px;
    background-color:#2d2d2d;
    width: 90%;
    margin: 20px auto 20px auto;
  }

  .head1{
    color:red;
    font-size:24px;
    font-weight:bolder;
  }

  .head2{
    color:white;
    font-size:24px;
    font-weight:bolder;
  }

  .subhead1{
    color:white;
    font-size: 16px;
  }

  .subimage{
    width:100%;
    margin-top: 10px;
    height:auto;
  }

  li{
    color:white;
    margin:10px 0;
    text-align: left;
  }

  p{
    color:white;
  }



  /* portfolio section bridPic*/
  .sectionportw{
    width:100%;
    height:auto;
    background-color:white;
    padding:10px 0;
    font-family: 'Clash Grotesk', sans-serif;
  }

  .containerportw{
    margin:0 auto 0 auto;
    padding:20px 0px;
    width: 90%;
    margin: 20px auto 20px auto;
  }

  .head1w{
    color:black;
    font-size:24px;
    font-weight:bolder;
  }

  .head2w{
    color:black;
    font-size:24px;
    font-weight:bolder;
  }

  .subhead1w{
    color:black;
    font-size: 16px;
  }

  .subimagew{
    width:80%;
    margin-top: 20px;
    height:auto;
  }

  li{
    color:white;
    margin:10px 0;
    text-align: left;
  }

  .role{
    color:black;
    display:inline-block;
  }

  .role1{
    display:inline-block;

  }

  .role2{
    display:inline-block;
  }

  .role1list{
    color:black;
    list-style-type: circle;
  }

  .role2list{
    color:black;
    list-style-type: circle;
    margin-left:40px;

  }

  .duration{
    color:black;
    display:inline-block;
    margin-bottom:30px;
  }

  .duration1{
    display:inline-block;

  }

  .duration2{
    display:inline-block;
    margin-left:20px;
  }



  .durationno{
    color:#FD6DDE;
    font-weight: bolder;
    font-size: 48px;
    margin:0;
  }

  .durationtitle{
    color:black;
    font-weight: normal;
    font-size: 24px;
    margin:0;
  }

  .porttext{
    color:black;
  }


  /* portfolio section Donate*/
  .sectionportd{
    width:100%;
    height:auto;
    background-color:white;
    padding:10px 0;
    font-family: 'Switzer', sans-serif;
  }

  .containerportd{
    padding:0px;
    width: 90%;
    margin:20px auto;
  }

  .head1d{
    color:#002E57;
    font-size:24px;
    font-weight:bolder;
  }

  .head2d{
    color:black;
    font-size:24px;
    font-weight:normal;
  }

  .subhead1d{
    color:black;
    font-size: 16px;
  }

  .subimaged{
    width:80%;
    margin-top: 20px;
    height:auto;
  }

  .donateimg{
    width:80%;
    height:auto;
    display:inline-block;
    position:relative;
  }


  .titled{
    color:black;
    font-size:16px;
    font-weight:bold;
    margin:0 0 0 0;
  }

  .subtitled{
    color:black;
    width:70%;
    font-size:16px;
    font-weight:normal;
    display:inline-block;
    line-height: 30px;
  }


  .containerd{
    width:100%;
    height: auto;
    margin: 0 auto 0 auto;
    display:inline-block;

  }
  .container1d{
    width: 50%;
    display:inline-block;
    margin-top:20px;

  }

  .container2d{
    width: 30%;
    display:inline-flex;
  }


  .durationnod{
    color:#002E57;
    font-weight: bolder;
    font-size: 48px;
    margin:0;
  }

  .durationtitled{
    color:black;
    font-weight: normal;
    font-size: 24px;
    margin:0;
  }

  .duration1d{
    display:inline-block;

  }

  .duration2d{
    display:inline-block;
    margin-left:50px;
  }

  .duration3d{
    display:inline-block;
    margin-left:50px;
  }

  .qualitate{
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
  }

  .qualicontaind1{
    width:100px;
    position: relative;
    display: inline-block;
  }

  .qualicontaind2{
    position: relative;
    display: inline-block;
    margin-left:30px;
  }

  .qualitateimage{
    width:100%;
    height: auto;
  }

  .qualitatetext{
    color:black;
    list-style-type: circle;
  }

  .quantitateimage{
    width:70%;
    height: auto;
  }

  .personad{
    width: 100%;

  }

  .styled{
    width:80%;
  }

  .downloadresume{
  }

  .downloadresume a{
    padding:10px 40px;
    display: inline-block;
    color:white;
    border-radius: 5px;
    font-size: 16px;
    background-color:#58287F;
    font-family: 'poppins', sans-serif;
    transition:0.2s ease-in;
    text-align: center;
    margin:20px 0;
  }

  .downloadresume a:hover{
    background-color:#F010A4;
    border:none;
  }


  /* Viewport */
  @media screen and (min-width:360px)and (max-width:539px){

    .sidebar {
      padding-top:15px;
      padding-left: 0px;
      width:100%;
      height: auto;
      position: fixed;
      text-align: center;
      z-index: 100;
      animation-name: sidebar_m;
      animation-duration: 1s;
      background-color:#262626;
    }

    /* .dot{
      top:120px;
      left: 20px;
      opacity: 20%;
      z-index: -1;
    } */

    #loader {
      margin: -20px;
    }

    @keyframes sidebar_m {
      0%  {top:-100px;}
      100% {top:0px;}
    }

    .logodiv{
      padding:0px;
      width: 100%;
      margin:0 auto 10px auto;
    }

    .sidebar a {
      color: white;
      display: inline-block;
      height: auto;
      padding:15px;
      text-decoration: none;
      text-align: center;
      font-size: 14px;
      margin:0px auto;
      position: relative;
      animation-name:menu_item;
      animation-duration: 1s;
      letter-spacing: 2px;
    }

    .badge{
      position: relative;
      bottom:1px;
    }

    @keyframes menu_item {
      0%  {top:-200px;}
      100% {top:0px;}
    }


    .logodiv{
      position: inline;     \
      margin: 0 auto 0 auto;
    }

    .profileimage{
      margin-bottom: 10px;
    }

    .logo{
      width:40px;
    }

    .workspace{
      width: 100%;
      margin:115px auto 0 auto;
      text-align: center;
      animation-name: workspace_m;
      animation-duration: 2s;
    }

    @keyframes workspace_m{
      0% {bottom:-100px;}
      100%{bottom:0px;}
    }

    #intro{
      margin-top:20px;
    }

    .surya{
      margin:30px 0 0 0;
      animation: 2s anim-lineUp ease-out infinite;
      animation-delay: 1s;
      font-weight:bold;
      font-size:16px;
      color:#af77ff;
      margin:25px` 0 10px 0;
    }


    .designer{
      width:auto;
      font-size: 18px;
      line-height: 30px;
      position: relative;
      margin:10px 0;
      color:#ffffff;
    }

    a.portfoliocard1 {
      margin-bottom:10px;
      box-shadow: 0px 0px 1px white;
      width:300px;
      overflow:hidden;

    }

    .image{
      width:300px;
      margin-bottom:0;
      height:auto;
      border-radius:0;
    }

    .iconcategory{
      width:40%;
      height: auto;
      margin:10px 0;
    }

    .portfoliocards{
      margin:30px 0;
    }

    .portfoliodesigns {
      width:80%;
      margin:0 auto 10px auto;
    }

    .video{
      width:360px;
      height:250px;
      margin:0 auto 0 auto;
    }

    .overall-numbers{
      width:80%;
      margin:30px auto 30px auto;
    }

    .iconpack{
      text-align: center;
      margin: 0 auto 0 auto;
      width: 80%;
    }

    .iconlist{
      width:80%;
      margin: 10px auto;
    }

    .iconlist1{
      width:70%;
      position: relative;
      left:50px;
    }

    .ratingtext{
      font-size: 12px;
      position: relative;
      bottom:15px;
    }

    .icon{
      width:40px;
      height:40px;
    }

    .numbers-list1{
      width:80%;
      margin:0 auto 0 auto;
      position: relative;
    }

    .list1-description{
      color:white;
    }

    .skills-numbers{
      margin:0 auto 0 auto;
    }

    .skills-list1{
      position: relative;
      left:85px;
      margin:10px 0;
    }

    .bannerimages{
      width:100%;
      height: auto;
    }

    table {
      margin:10px auto;
      border-collapse: separate;
      width: 80%;
      color:white;
      font-size: 12px;
    }

    .table-icon{
      width:auto;
      height:24px;
    }


    .hl {
      width:80%;
      margin:0 auto 0 auto;
      height:2px;
      background: black;
      opacity: 10%;
      height: 2px;
    }

    .skill-subhead{
      width: 80%;
      margin:30px auto;

    }

    .skills{
      margin:0px;
    }

    .numbers-list1{
      width:90%;
      margin: 0 auto 20px auto;
    }

    .list1-description{
      color:white;
    }

    .heading-home{
      padding:0px 0 0px 0;
      width: 100%;
    }
    .education-history{
      margin:10px 0;
    }

    .experience-description{
      font-size: 12px;
      font-family: 'Poppins', sans-serif;
      width:80%;
      padding:0px;
      line-height: 20px;
      margin:0 auto;
      margin-bottom:10px;
      text-align: center;
      color:#ffffff;
    }

    .experiences-description{
      font-size: 12px;
      font-family: 'Poppins', sans-serif;
      width:90%;
      padding:0px 0px 0px 0px;
      line-height: 20px;
      margin:10px auto;
      text-align: center;
      color:#ffffff;
    }

    .experience-list{
      margin:10px 0 10px 0;
      line-height: 20px;
      border:none;
      width:70%;
    }

    .experience-designation{
      margin:8px 0;
    }

    .experience-list1{
      width:auto;
      margin:5px auto 5px auto;
      font-size:12px;
      line-height: 25px;
    }

    .vl{
      width:80%;
      position: absolute;
      left:40px;
      top:60px;
      margin:0 auto 0 auto;
      border-top:3px solid black;
      border-left:0px;
    }


    .heading-name{
      line-height: auto;
      font-size:12px;
    }


    .experience-history{
      margin:20px auto 0px auto;
      font-size:24px;
    }

    .name-head{
      left:0px;
      top:0px;
      width:auto;
      position: relative;
    }

    .contact-listview{
      float:none;
      margin-bottom: 40px;
    }

    .socialmedia-listview{
      float:left;
      margin-bottom: 20px;
    }

    .UX-banner{
      width:100%;
      height:auto;
    }


    .button-interaction{
      margin:30px auto 30px auto;
    }

    .figma{
      width:360px;
      height:600px;
      width: 100%;
      margin:0 auto;
    }
    .vl{
      opacity:100%;
    }

    .copyright{
      width: 80%;
      margin:20px auto 20px auto;
      font:12px;
      font-family: 'Poppins', sans-serif;
      text-align: center;
      color:#ffffff;

    }



    /* portfolio section black */
    .sectionport{
      width: 100%;
      margin:0;
      font-family: 'Satoshi', sans-serif;
    }

    .containerport{
      background-color:#2d2d2d;
      width: 80%;
      padding:20px;
      text-align: left;
    }


    .subhead1{
      color:white;
      font-size: 12px;
    }

    .head1{
      font-size: 16px;
    }

    .head2{
      font-size: 16px;
    }

    .subimage{
      height:auto;
      margin-top:10px;
    }

    li{
      text-align: left;
      margin-top: 10px;
      margin-bottom: 0px;
      font-size: 12px;
      color:white;
    }

    p{
      color:white;
    }


    /* portfolio section white */
    .sectionportw{
      width: 100%;
      margin:0;
      font-family: 'Clash Grotesk', sans-serif;
    }

    .containerportw{
      width: 80%;
      padding:20px;
      text-align: left;
    }


    .subhead1w{
      color:black;
      font-size: 12px;
    }

    .head1w{
      font-size: 16px;
    }

    .head2w{
      font-size: 16px;
    }

    .subimagew{
      height:auto;
      margin-top:10px;
    }

    li{
      text-align: left;
      margin-top: 10px;
      margin-bottom: 0px;
      font-size: 12px;
    }



    /* portfolio section Donate*/
    .sectionportd{
      width:100%;
      height:auto;
      background-color:white;
      padding:10px 0;
      font-family: 'Switzer', sans-serif;
    }

    .containerportd{
      margin: 20px auto 20px auto;
      width: 80%;
      padding:20px 0px;
      text-align: left;
    }

    .head1d{
      color:#002E57;
      font-size:16px;
      font-weight:bolder;
    }

    .head2d{
      color:black;
      font-size:18px;
      font-weight:normal;
    }

    .subhead1d{
      color:black;
      font-size: 12px;
    }

    .subimaged{
      width:80%;
      margin-top: 20px;
      height:auto;
    }

    .titled{
      font-size:16px;
      margin:10px 0 0 0;
    }

    .subtitled{
      font-size:12px;
      line-height: 20px;
      margin-bottom:30px;
      width: 100%;
    }

    .durationnod{
      font-size: 24px;
    }

    .duration3d{
      margin:0px;
      margin-top:10px;
    }

    .containerd{
      width:100%;
      height: auto;
      display:block;

    }
    .container1d{
      width:100%;
      height: auto;
      text-align: left;
      margin-top:20px;
      font-size: 12px;

    }

    .container2d{
      width:100%;
      height:auto;
      text-align: center;
      margin-left:none;
    }

    .donateimg{
      width:50%;
      height:auto;
      display:inline-block;
      position:relative;
    }

    .role2{
      display:inline-block;
      margin-left:0px;
    }

    .role2list{
      margin-left:0px;
    }

    .qualicontaind1{
      display:none;
    }

    .qualicontaind2{
      margin-left:0px;
    }

    .quantitateimage1{
      width:100%;
      height: auto;
    }

    .styled1{
      width:100%;
    }

    .hidden{
      opacity:0;
      transition: all 2s;
      filter: blur(10px);
      transform: translateY(100px);
    }

    .show{
      opacity:1;
      filter: blur(0px);
      transform: translateX(0);
    }

    .downloadresume a{
      background-color:#58287F;
      border:none;
      text-align: center;
      font-family: 'poppins',sans-serif;
    }
    .downloadresume{
      margin-bottom: 20px;
    }

    ul.breadcrumb {
      display: none;
    }


  }




  /* Viewport */
  @media screen and (min-width:540px)and (max-width:800px){
    .sidebar {
      padding-top:30px;
      width:100%;
      padding-left: 0px;
      height: auto;
      position: fixed;
      text-align: center;
      z-index:100;
      animation-name: sidebar_t;
      animation-duration: 1s;
      display: block;
      background-color:#262626;
    }

    /* .dot{
      top:120px;
      left: 100px;
      opacity: 20%;
      z-index: -1;
    } */

    #loader{
      margin: -20px;
    }

    @keyframes animatebottom {
      from{ top:-100px; opacity:0}
      to{ top:0; opacity:1 }
    }

    @keyframes sidebar_t {
      0%  {top:-100px;}
      100% {top:0px;}
    }

    .sidebar a {
      color: white;
      display: inline-block;
      height: auto;
      padding:20px;
      text-decoration: none;
      text-align: center;
      font-size: 16px;
      margin:0px 10px;
      letter-spacing: 2px;
      position: relative;
    }

    .badge{
      position: relative;
      bottom:1px;
    }

    .workspace{
      width: 100%;
      margin:135px auto 0 auto;
      text-align: center;
      animation-duration:1s;
    }


    @keyframes box {
      0%   {left:-100px;}
      100% {left:0px;}
    }


    .logodiv{
      text-align: center;
      width: 100%;
      padding: 0px;
      margin: 0 auto 0 auto;
    }

    .logo{
      width:40px;
      text-align: center;
    }

    .profileimage{
      margin-bottom: 10px;
    }

    .iconlist{
      text-align: center;
      display:inline;
    }


    .ratingtext{
      font-size: 12px;
      position: relative;
      bottom:15px;
    }

    .icon{
      width:60px;
      height:60px;
    }

    .iconcategory{
      width:40%;
      height: auto;
      margin:20px
    }

    .iconpack{
      margin:0 auto 0 auto;
      width:80%;
      text-align:center;
    }

    a.portfoliocard1 {
      margin-bottom:10px;
      box-shadow: 0px 0px 1px white;
    }

    .portfoliocards{
      margin:30px 0;
    }

    .overall-numbers{
      margin:30px auto;
    }


    .skills-numbers{
      width: 80%;
      margin:0 auto 0 auto;
    }

    .skills-list1{
      width:30%;
      margin:10px 20px;
      position: relative;

    }

    .UX-banner{
      width:100%;
      height:auto;
      margin:0px;
    }

    .bannerimages{
      width:80%;
      height: auto;
    }

    .hl {
      width:80%;
      margin:0 auto 0 auto;
      height:2px;
      background: black;
      opacity: 10%;
      height: 2px;
    }

    .skill-subhead{
      width: 100%;
      margin:30px auto;

    }

    .skills{
      margin:0px;
    }

    table {
      margin:10px auto;
      border-collapse: separate;
      width: 90%;
      color:white;
      font-size: 14px;
    }

    .table-icon{
      width:auto;
      height:30px;
    }

    .numbers-list1{
      width: 80%;
      margin: 20px auto 0 auto;
    }

    .list1-description{
      color:white;
    }

    .heading-home{
      padding:0 0 0 0;
      width: 100%;
    }

    .heading-name{
      width:auto;
      line-height: 40px;
      margin:10px auto;
    }

    #intro{
      width:80%;
      margin:0px auto;
    }

    .surya{
      margin:20px 0;
      animation: 2s anim-lineUp ease-out infinite;
      animation-delay: 1s;
      font-weight:bold;
      font-size:20px;
      color:#af77ff;
      margin:50px 0 10px 0;
    }

    .name-head{
      left:0px;
      top:0;
      width:auto;
      position: relative;
    }

    .UX-banner{
      margin-top:0;
    }

    .experience-list{
      margin:10px 0 10px 0;
      line-height: 20px;
      border:none;
      width: 60%;
    }

    .experience-designation{
      margin:5px 0;
    }


    .experience-description{
      font-size: 14px;
      font-family: 'Poppins', sans-serif;
      width:100%;
      padding:0px 0px 0px 0px;
      line-height: 25px;
      margin: 0 0 10px 10px;
      text-align: center;
      color:#ffffff;
    }

    .experiences-description{
      font-size: 12px;
      font-family: 'Poppins', sans-serif;
      width:90%;
      padding:0px 0px 0px 0px;
      line-height: 20px;
      margin:10px auto;
      text-align: center;
      color:#ffffff;
    }

    .button-interaction{
      width: 60%;
      margin:30px auto 10px auto;
    }

    .figma{
      width:360px;
      height:600px;
      width: 100%;
      margin:0 auto;
    }

    .copyright{
      width: 80%;
      margin:20px auto 20px auto;
      font-size:10px;
      font-family: 'Poppins', sans-serif;
      text-align: center;
      color:#ffffff;

    }

    .video{
      width:540px;
      height:390px;
      margin:0 auto 0 auto;
    }


    /* portfolio section black */
    .sectionport{
      width: 100%;
      margin:0;
      font-family: 'Satoshi', sans-serif;
    }

    .containerport{
      background-color:#2d2d2d;
      width: 80%;
      text-align: left;
      padding:20px;

    }


    .subhead1{
      color:white;
      font-size: 12px;
    }

    .head1{
      font-size: 16px;
    }

    .head2{
      font-size: 16px;
    }

    .subimage{
      height:auto;
      margin-top:10px;
    }

    li{
      text-align: left;
      margin-top: 10px;
      margin-bottom: 0;
      font-size: 12px;
      color:white;

    }

    p{
      color:white;
    }

    /* portfolio section white */
    .sectionportw{
      width: 100%;
      margin:0;
      padding:0;
      font-family: 'Clash Grotesk', sans-serif;
    }

    .containerportw{
      width: 80%;
      text-align: left;
      padding:20px;

    }


    .subhead1w{
      color:black;
      font-size: 12px;
    }

    .head1w{
      font-size: 16px;
    }

    .head2w{
      font-size: 16px;
    }

    .subimagew{
      height:auto;
      margin-top:10px;
    }

    li{
      text-align: left;
      margin-top: 10px;
      margin-bottom: 0;
      font-size: 12px;
    }

    /* portfolio section Donate*/
    .sectionportd{
      width:100%;
      height:auto;
      background-color:white;
      padding:10px 0;
      font-family: 'Switzer', sans-serif;
    }

    .containerportd{
      margin: 20px auto 20px auto;
      width: 80%;
      padding:20px 0px;
      text-align: left;
    }

    .head1d{
      color:#002E57;
      font-size:16px;
      font-weight:bolder;
    }

    .head2d{
      color:black;
      font-size:18px;
      font-weight:normal;
    }

    .subhead1d{
      color:black;
      font-size: 12px;
    }

    .subimaged{
      width:50%;
      margin-top: 20px;
      height:auto;
    }

    .titled{
      font-size:16px;
      margin:10px 0 0 0;
    }

    .subtitled{
      font-size:12px;
      width: 100%;
      line-height: 20px;
    }

    .containerd{
      width:100%;
      height: auto;
      display:block;
      text-align: left;

    }
    .container1d{
      width:100%;
      height: auto;
      text-align: left;
      margin-top:20px;
      font-size: 12px;

    }

    .durationnod{
      font-size: 36px;
    }

    .container2d{
      width:90%;
      height:auto;
      text-align: left;
    }

    .donateimg{
      width:50%;
      height:auto;
      display:inline-block;
      position:relative;
    }

    .role2{
      display:inline-block;
      margin-left:0px;
    }

    .quantitateimage1{
      width:100%;
      height: auto;
    }

    .styled1{
      width:100%;
    }
    .hidden{
      opacity:0;
      transition: all 2s;
      filter: blur(5px);
      transform: translateY(100px);
    }

    .show{
      opacity:1;
      filter: blur(0px);
      transform: translateY(0);
    }

    .downloadresume a{
      background-color:#58287F;
      border:none;
      width:80%;
      text-align: center;
      font-family: 'poppins',sans-serif;
    }
    .downloadresume{
      width:100%;
      margin: 20px 0;
    }

    ul.breadcrumb {
      display: none;
    }
    }
  }



  @media screen and (min-width:396px)and (max-width:540px){
    .skills-list1{
      position: relative;
      width:50%;
      margin:10px auto;
    }

    .logodiv{
      width:100%;
      height: auto;
      margin: 0 auto 0 auto;
    }

    .logo{
      width:40px;
    }


  }
